body {
  font-family: 'Han Sans Regular';
  counter-reset: line;
  max-width: 48em;
}

div.sourceCode {
  background: #d9d9d95e;
  padding: 10px;
  border-radius: 5px;
}
div.sourceCode code {
  background:transparent;
  color: inherit;
}
code{
  color: #ff0000c7;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table th, table td {
  border: 1px solid #ccc; 
  background-color: #f4f4f4;
  padding: 10px;
  width: auto;
  word-wrap: break-word;
}

table td {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 8px;
}